<div class="footer bg-primary py-5">
    <div class="row w-75 mx-auto">
        <div class="col-lg-3 mb-lg-0 mb-4">
            <h4>Antoine Bernabeu</h4>
            <p>Artiste peintre</p>
        </div>
        <div class="col-lg-3 pe-lg-0 mb-lg-0 mb-4">
            <small class="mb-3 d-block">MENU</small>
            <ul class=" px-0">
                    <li >
                        <a href="{{path('app_realisation')}}">Realisation</a>
                    </li>
                    <li>
                        <a href="{{path('app_blogpost')}}">Actualites</a>
                    </li>
                    <li>
                        <a  href="{{path('app_portfolio')}}" >Portfolio </a>
                    </li>
                    <li>
                        <a href="{{path('app_apropos')}}">A propos</a>
                    </li>
                    
                </ul>
        </div>
        <div class="col-lg-3 ps-lg-0 mb-lg-0 mb-4">
            <small class="mb-3 d-block">INFORMATIONS</small>
            <p>
                Artiste peintre à chomérac au coeur de l'Adèche.
            </p>
            <p>
                Je realise mes peintures à l'aquarelle directement à l'atelier ou en pleine nature !
            </p>
        </div>
        <div class="col-lg-3">
            <small class="mb-3 d-block">MENTIONS LEGALES</small>
            <p>RGPD</p>
        </div>
    </div>
</div>

<style>
    a{
        color: white;
        text-decoration: none;
        transition: all 0.5s ;
        
    }
    a:hover{
        color: black;
    }
    li{
        list-style: none;
        margin: 7px 0;
    }
    .footer h4, .footer p, .footer small{
        color: white;
    }
</style>